/* FS 1.45 rem 1.15rem */
/*  transform: scale(1.07, 1.05) skewX(-15deg); */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: linear-gradient(to right, #e9851a, #f3bb80);
  height: 100%;
  padding: 5rem;
  font-size: 1.15rem;
  color: #615551;

  position: relative;
}
/* REUSABLE */

.hidden {
  display: none;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(15px);
}

/*  MAIN CONTAINER */
.container {
  border-radius: 2rem;
  overflow: hidden;
  width: 120rem;
  margin: 0 auto;
}
/* NAVIGATION BAR */
.navigation--bar {
  background-color: #fdf1e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  height: 10rem;
  padding: 0 5rem;
}
/* NAVIGATION SEARCH FORM */
form {
  display: flex;
}

.search--input {
  height: 5rem;
  border-color: none;
  width: 35rem;
  background-color: #fff;
  border: none;
  border-radius: 3rem;
  padding-left: 1rem;
}

.search--button {
  transform: translateX(-5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s;
}

.search--button:hover {
  scale: 1.03;
}

.button {
  background: linear-gradient(to right, #e9851a, #f3bb80);
  color: #fff;
  font-size: 1.7rem;
  border: none;
  height: 5rem;
  border-radius: 3rem;
  padding: 1rem 3.4rem;
  cursor: pointer;
}

.button--svg {
  height: 2.4rem;
}

.recipe--n--bookmarks {
  display: flex;
}

.navigation-options {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 12rem;
  cursor: pointer;
  transition: all 0.5s;
}
.navigation-options:hover {
  background-color: #fae4cc;
}

.navigation--options--text {
  font-size: 1.6rem;
  font-weight: 500;
}

.svg {
  height: 4rem;
  stroke: #e9851a;
}

/* MAIN */

/* main container */
.main--content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 3fr; */
}

/* left side (search results) */
.results--side {
  background-color: #fdf1e6;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem 0;
  position: relative;
}
.section--search--result {
  display: flex;
  padding: 1.2rem 2rem;
  gap: 1.4rem;
  transition: all 0.3s;
  cursor: pointer;
  background: linear-gradient(to right, #f4c28d, #fdf3e8);
}
.section--search--result:hover {
  transform: translateX(1rem);
}
/* .active--result {
  transform: translateX(1rem);
  background: linear-gradient(to right, #ed9d48, #fdf3e8);
} */
.search--result--description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}
.search--result--name {
  font-size: 1.5rem;
  font-weight: 600;
}

.page-orient {
  position: absolute;
  color: #e9851a;
  bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;

  border: solid 2px #e9851a;
  padding: 0.5rem 1rem;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.2s;
  width: min-content;

  border: solid 2px #fdf1e6;
}
.page-orient:hover {
  border-radius: 0;
  background-color: none;
  border-bottom: solid 2px #e9851a;
}
.page--left,
.page--right {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.page-orient-left {
  left: 2rem;
}
.page-orient-right {
  right: 2rem;
}

.svg--page-left,
.svg--page-right {
  height: 2rem;
}

/* right side recipe */
.recipe--side {
  background-color: #fdf1e6;
  position: relative;
}

/* main img */
.image-container {
  background-color: #e9851a;
  height: 32rem;
  overflow: hidden;
}
.recipe--image {
  width: 100%;
  opacity: 0.8;
}
/* recipe header */
.recipe--name {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 25.8rem;
  width: 60rem;
  line-height: 1.2;
  transform: scale(1.07, 1.05) skewX(-15deg) translateX(-48%);
}

.recipe--name span {
  height: 2rem;
  line-height: 1.5;
  padding: 1rem 2rem;
  opacity: 0.9;
  background: linear-gradient(to right, #e9851a, #f3bb80);
}

/* RECIPE INFO */

.minutes--servings--container {
  display: flex;
  padding: 8.4rem 0 4rem 0;
  justify-content: space-around;
  align-items: center;
}

.recipe--header--svg {
  height: 3rem;
}

.minutes--box {
  display: flex;
  gap: 1rem;
  font-size: 1.65rem;
  align-items: center;
}
.minutes--tex-number-box {
  display: flex;
  gap: 0.3rem;
}
.minutes--svg {
  stroke: #e9851a;
}

.servings--head--info {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.65rem;
}

.servings--number-text-box {
  display: flex;
  gap: 0.3rem;
}
.servings--quantity {
  display: flex;
  gap: 0.4rem;
}
.serving--svg {
  stroke: #e9851a;
}
.servings--quantity--plus,
.servings--quantity--minus {
  stroke: #e9851a;
  height: 2rem;
  border: solid #e9851a 2px;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}

.servings--quantity--plus:hover,
.servings--quantity--minus:hover {
  transform: translateY(-2px);
}

.bookmark--border {
  border: solid;
  border-radius: 50%;
  background-color: #e9851a;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.bookmark--border:hover {
  transform: scale(1.1);
}
.bookmark--svg {
  fill: #e9851a;
  stroke: #fff;
  margin: 1rem;
}

/* RECIPE INGREDIENTS */
.recipe--ingredients {
  font-size: 1.4rem;
  padding: 4rem 0;
  background-color: #fef5ee;
}
.recipe--ingredients--header {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
}

.recipe--ingredients--list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 2rem;
}
.recipe--ingredient {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recipe--ing--svg {
  height: 2.3rem;
}

.quantity--description-flex {
  display: flex;
  gap: 0.5rem;
}

/* HOW TO COOK */
.how--to--cook-text {
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.7;
  margin-bottom: 3rem;
  color: #918581;
}

.how--to--cook--box {
  padding: 4rem 8rem;
  background-color: #fffcfa;
}

.how--to--cook--button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  transition: all 0.2s;
}
.how--to--cook--button:hover {
  transform: scale(1.03);
}

.svg--footer {
  height: 2rem;
  stroke: #fff;
}

.how--to--cook-header {
  font-size: 2.3rem;
  font-weight: 600;
}

/*  */
/*  */
/* POPUP WINDOW */
/*  */
/*  */

.add--recipe--popup {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 100;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 5px 23px 5px #6155515d;
}

.add--recipe--popup-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 11rem;
  padding: 5rem;
}

.form-header {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.rec-form--lable {
  font-size: 1.5rem;
  width: 10rem;
  display: inline-block;
}
.rec-form--input {
  width: 15rem;
  height: 2.8rem;
  border: 1px solid;
  border-radius: 0.5rem;
  border-color: #918581;
}

.add--recipe--popup--button {
  margin-top: 3rem;
  grid-column: -3 / -1;
  justify-self: center;
  transition: all 0.3s;
}

.add--recipe--popup--button:hover {
  transform: scale(1.05);
}

/* ERROR MASSIGE */

.error--messige {
  position: absolute;
  background-color: #fff;
  max-width: 80rem;
  top: 20%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);

  border-radius: 2rem;
  text-align: center;
  font-size: 2.5rem;
  padding: 8rem 5rem;

  box-shadow: 0 5px 23px 5px #6155515d;
}
